POSTGRES_PASSWORD=
APP_DB_PASSWORD=
MIGRATOR_DB_PASSWORD=
JWT_SECRET=
LITELLM_MASTER_KEY=
LITELLM_SALT_KEY=
LITELLM_DB_PASSWORD=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
LITELLM_APP_KEY=
LITELLM_APP_MAX_BUDGET_USD=
