@import "tailwindcss";

@theme {
  --color-brand-50: #e6f7fc;
  --color-brand-100: #b3e8f7;
  --color-brand-200: #80d9f2;
  --color-brand-300: #4dcaed;
  --color-brand-400: #26bae3;
  --color-brand-500: #00a7d5;
  /* base brand color */
  --color-brand-600: #0091b8;
  --color-brand-700: #007a9a;
  --color-brand-800: #00627c;

  --text-question: 0.875rem;
  --text-question--line-height: 1.25rem;
  --text-option: 0.875rem;
  --text-option--line-height: 1.25rem;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #00a7d5;
  --accent-bg: rgba(0, 167, 213, 0.1);
  --accent-border: rgba(0, 167, 213, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #202235;
    --accent: #26bae3;
    --accent-bg: rgba(38, 186, 227, 0.15);
    --accent-border: rgba(38, 186, 227, 0.5);
    --social-bg: rgba(92, 94, 120, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

button {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

/*** chart ***/

svg.recharts-surface {
  outline: none;
}
